{% extends "forum/base.html" %}
{% block content %}
<br><br><br>


<!--Main Layout-->
<main class=" my-3">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

  
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">All Threads</a></li>
    <li class="breadcrumb-item active">Connecting to Android</li>
  </ol>
</nav>
<div class="container my-5 py-5 px-md-5 z-depth-1">


    <!--Section: Content-->
    <section class="text-center text-lg-left dark-grey-text">

        

        <div class="media d-block d-md-flex mt-4">
            <img class="card-img-64 rounded z-depth-1 d-flex mx-auto mb-3"
              src="https://mdbootstrap.com/img/Photos/Avatars/img (20).jpg" alt="Generic placeholder image">
            <div class="media-body text-center text-md-left ml-md-3 ml-0">
              <p class="font-weight-bold my-0">
                Connecting to Android
                <a href="" class="pull-right ml-1">
                 <span class="badge badge-info">Smart home Automation</span>
                 <span class="badge badge-info">Touch Magic</span>
                </a>
              </p>
              <p class=" my-0">
              <span class="font-weight-bold" style="color:#1565c0"><b>Miley Steward</b></span><br>
                 <span  style="font-size: 13px;">Created: 20 Dec 2019, 09:45 AM</span>
              </p>
              My Android Phone is not able to connect to the Touch Magic. Can anyone suggest how to connect Motorola Mobile to Touch Magic
              <p class="mt-3 my-0">
                <a href="" class="pull-right ml-1" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  <i class="fas fa-reply mr-1" ></i>
                </a>

                <a href="" class="pull-right ml-1"> 
                  <i class="fas fa-thumbs-up mr-1"></i>
                </a>
                <a href="" class="pull-right ml-1">  
                  <i class="fas fa-share-alt"></i>
                </a>
              </p>

<!-- sub comment -->
              <div class="media d-block d-md-flex mt-4">
                <img class="card-img-64 rounded z-depth-1 d-flex mx-auto mb-3"
                  src="https://mdbootstrap.com/img/Photos/Avatars/img (27).jpg" alt="Generic placeholder image">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                  <p class="font-weight-bold my-0">
                Connecting to Android
                <a href="" class="pull-right ml-1">
                 <span class="badge badge-info">Smart home Automation</span>
                 <span class="badge badge-info">Touch Magic</span>
                </a>
              </p>

              <p class=" my-0">
              <span class="font-weight-bold" style="color:#1565c0"><b>Tommy Smith</b></span><br>
                 <span  style="font-size: 13px;">Created: 20 Dec 2019, 09:45 AM</span>
              </p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam, eaque
                  ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                  <p class="mt-3 my-0">
                <a href="" class="pull-right ml-1">
                  <i class="fas fa-reply mr-1" ></i>
                </a>

                <a href="" class="pull-right ml-1"> 
                  <i class="fas fa-thumbs-up mr-1"></i>
                </a>
                <a href="" class="pull-right ml-1">  
                  <i class="fas fa-share-alt"></i>
                </a>
              </p>
                </div>
              </div>

  <!-- /.sub comment -->

<!-- reply textarea -->
              <div class="collapse" id="collapseExample">
            <!-- Quick Reply -->
              <div class="form-group mt-4">
                <label for="quickReplyFormComment">Your comment</label>
                <textarea class="form-control" id="quickReplyFormComment" rows="5"></textarea>

                <div class="text-right my-4">
                  <button class="btn btn-primary btn-sm" type="submit">Post</button>
                </div>
              </div>
              </div>
<!-- /. reply textarea -->
              
            </div>
          </div>


          <div class="media d-block d-md-flex mt-3">
            <img class="card-img-64 rounded z-depth-1 d-flex mx-auto mb-3"
              src="https://mdbootstrap.com/img/Photos/Avatars/img (30).jpg" alt="Generic placeholder image">

            <div class="media-body text-center text-md-left ml-md-3 ml-0">

              <p class="font-weight-bold my-0">
                Connecting to Android
                <a href="" class="pull-right ml-1">
                 <span class="badge badge-info">Smart home Automation</span>
                 <span class="badge badge-info">Touch Magic</span>
                </a>
              </p>

              <p class="my-0">
              <span class="font-weight-bold" style="color:#1565c0"><b>Jennifer</b></span><br>
                <span  style="font-size: 13px;">Created: 20 Dec 2019, 09:45 AM</span>
              </p>
              Try Deleting all the devices in list try again to connect by resetting the bluetooth settings. It will connect to Smart Switch.

              <p class="mt-3 my-0">
                <a href="" class="pull-right ml-1" data-toggle="collapse" data-target="#textarea2" aria-expanded="false" aria-controls="collapseExample">
                  <i class="fas fa-reply mr-1"></i>
                </a>
                <a href="" class="pull-right ml-1"> 
                  <i class="fas fa-thumbs-up mr-1"></i>
                </a>
                <a href="" class="pull-right ml-1">  
                  <i class="fas fa-share-alt"></i>
                </a>
              </p>


<!-- reply textarea -->

              <div class="collapse" id="textarea2">
              <!-- Quick Reply -->
              <div class="form-group mt-4">
                <label for="quickReplyFormComment">Your comment</label>
                <textarea class="form-control" id="quickReplyFormComment" rows="5"></textarea>

                <div class="text-right my-4">
                  <button class="btn btn-primary btn-sm" type="submit">Post</button>
                </div>
              </div>

              </div>

<!-- /. reply textarea -->


            </div>
          </div>

    </section>
    <!--Section: Content-->


  </div>


            </div>
        </div>
    </div>



</main>
<!--Main Layout-->


{% endblock %}
